<div class="center jumbotron">
    <h1>Welcome to my store</h1>
    <h2>
        Welcome to our website!

We provide beautiful handcrafted wood products made right here in the United States.

All of our product are carefully crafted to the highest standards.

We hope that you enjoy looking through our store.
    </h2>
    <%= link_to "Start Shopping!",'/products', class: "btn btn-lg btn-success" %>
</div>
<% if Product.last %>
<h2>
    View Our Latest Products
</h2>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow, center">
        <%=  link_to Product.last(3)[0].title , Product.last(3)[0] %>
        </h3>
        <h2 class="left, thumbnail">
            <%= image_tag Product.last(3)[0].screenshots.first.image_url(:thumb) if Product.last(3)[0].screenshots.length != 0  %> 
        </h2>

    </div>
        <div class="col-lg-4">
        <h3 class="midrow, center">
            <%= link_to Product.last(2)[0].title , Product.last(2)[0] %>
        </h3>
        <h2 class="left, thumbnail">
            <%= image_tag Product.last(2)[0].screenshots.first.image_url(:thumb) if Product.last(2)[0].screenshots.length != 0 %>
        </h2>

    </div>
        <div class="col-lg-4">
        <h3 class="midrow, center">
             <%= link_to Product.last.title , Product.last %>
        </h3>
        <h2 class="center, thumbnail">
            <%= image_tag Product.last.screenshots.first.image_url(:thumb) if Product.last.screenshots.length != 0 %>
        </h2>
    </div>
</div>
<% end %>