
<%= form_for  @product, :html => {:multipart => true, :class => "form-horizontal product col-md-6" }  do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
  </div>
  
   <div class="form-group">
    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price, :step => "0.01" %>
    </div>
    <div class="field">
      <%= f.label :stock %><br>
      <%= f.number_field :stock %>
    </div>
  </div>

      <%= f.label :image, :class => 'col-sm-2 control-label' do %>
        Images
      <% end %>
       <a href = "#" id="addMoreImages" onclick="addImages();" class = "btn btn-primary center" style="color:white">Add More Images</a>
       
  
    <div class="form-group">
    
    <div id="imagesGroup">
    <div class="col-sm-10">
    <%= file_field_tag :image, multiple: true, :name=>'product[screenshots_attributes][][image]' %>
      </div>

  </div>
  </div>
 
 
  <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
  </div>
 
<% end %>



 
    <div id = 'formImages' class = 'col-md-6'>
    
      <% if @product.screenshots.first.image.length != 0 %>
      <% if @product.screenshots.first.image? %> 
  
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <% counter = 0 %>
                <%  @product.screenshots.each do |i| %>
                  <% if i != @product.screenshots.last %>
                  <li data-target="#myCarousel" data-slide-to=<%= counter %> class="active"></li>
                  <%counter = counter + 1 %>
                  <% end %>
              <%end%>
            </ol>
          
            <!-- Wrapper for slides -->
            <div id = 'formCarousel' class="carousel-inner" role="listbox">
                <% counter = 0 %>
                <%  @product.screenshots.each do |i| %>
                <% if i != @product.screenshots.last %>
                   <% if counter == 0 %>
                      <div class="item active">
                  <% else %>
                      <div class="item">
                  <% end %>
                  
                    <%= image_tag i.image_url(:thumb) %>
                  
                     <% counter = counter + 1 %>
                  </div>
                    <% end %>
                <% end %>
              </div>
  
  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
     
    <% end 
    end %> 
  
    </div>
