<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<div class="container">
  <div class = "col-md-9"> 
    <%= yield %>
  </div>
    
  <div class = "hidden-xs col-md-3 col-sm-12" id="cart">
    <!-- We can't display the cart in the contact us form -->
    <% if params[:controller] != "contact_us/contacts" %>
      <%= render @current_cart%>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>  

</body>
</html>
